<!DOCTYPE html>
<html>
    <head>
        <title>Dog Breed Classifier App</title>
        {{ dropzone.load() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    </head>
    <body>
        <h2 class="text-center">Dog Breed Classifier App</h2>
        {{ dropzone.create(action_view='index') }}
    </body>
</html>
