<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>

    <div class="container" style="padding-top: 30px;">
      <div class="row">
        <div class="col">
          <figure class="text-center">
            <img src="{{ file_url }}" class="figure-img img-fluid" alt="">
            <figcaption class="figure-caption">Le chien dont la photo a été uploadée semble de race {{ predicted_breed }}</figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
      		<button type="button" class="btn btn-success custom-button-width .navbar-center">Vrai</button>
  			  <button type="button" class="btn btn-danger custom-button-width .navbar-center">Faux</button>
    	</div>
    </div>

    <div class="row">
      <div class="col-md-12 text-left" style="padding-left: 30px;">
        <a href="{{ url_for('index') }}">Retour à la page d'upload</a><p>
      </div>
    </div>

  </body>
</html>
